<!DOCTYPE html>
<html>
<head>
    <title>Produits Database Systeme</title>


<link rel="stylesheet" type="text/css" href="../libs/bootstrap.css">
<link href="../libs/dataTables.bootstrap4.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../stylesheets/design.css">
   
 
<script src="../libs/jquery.min.js"></script>
<script src="../libs/jquery.dataTables.min.js" ></script>
<script src="../libs/dataTables.bootstrap4.min.js"></script>
    
    
</head>

<body>
  <header>
    <nav class="bg-info d-flex justify-content-between p-2">
      <div class="navbar-brand text-white font-weight-bold">
        <a href="/" class="link">Systeme de Gestion de Produits</a>
      </div>
      <div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/">Produits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/new">Ajouter un produit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/search">Recherche</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
