<!-- <!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Feane Academy</title>
	<link rel="shortcut icon" type="image/png" href="/images/icon.png" />
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/feane_cuisine.css">

</head>

<body>
	<div id="nav">
		<div class="col-sm nav-align">
			<h1 id="title">Feane Academy</h1>
		</div>

		
		<div class="col-sm nav-align">
			<a class="button" href="/">Home</a>
			<a href="/courses">
				<span class="button">Courses</span>
			</a>
			<a href="/contact">
				<span class="button">Contact</span>
			</a>
		</div>
	</div> -->

	<!DOCTYPE html>
<html>
<head>
    <title>Produits Database Systeme</title>
	
<link rel="stylesheet" type="text/css" href="../libs/bootstrap.css">
<link href="../libs/dataTables.bootstrap4.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../stylesheets/design.css">
   
 
<script src="../libs/jquery.min.js"></script>
<script src="../libs/jquery.dataTables.min.js" ></script>
<script src="../libs/dataTables.bootstrap4.min.js"></script>
    
    
</head>
