<% if(!!flashMessages.success) {%>
    <div class="alert alert-success w-100 mb-20 mx-auto "><%= flashMessages.success %></div>
<%}else if (!!flashMessages.error){%> 
    <div class="alert alert-danger w-100 mx-auto mb-20"><%= flashMessages.error%></div>
<%}%>   