<body>
    <header>
      <nav class="bg-info d-flex justify-content-between p-2">
        <div class="navbar-brand text-white font-weight-bold">
          <a href="/index" class="link">Systeme de Gestion de Produits</a>
        </div>
        <div>
          <% if(typeof name !== "undefined") {%> 
          <ul class="nav">
            <%
            const fullName = name.first + ' ' + name.last
            %> 
            <li>
              <a class="nav-link text-white" href="#"><%= fullName %> </a>
            </li>
            <li>
              <a class="nav-link text-white" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="/indexConnected">Produits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/new">Ajouter un produit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/search">Recherche</a>
            </li>
          </ul>
          <% } %> 
        </div>
      </nav>
    </header>