<body>
    <header>
      <nav class="bg-info d-flex justify-content-between p-2">
        <div class="navbar-brand text-white font-weight-bold">
        <div>Connexion au Systeme de Gestion de Produits</div>
        </div>
      </nav>
    </header>   