<%- include("partials/head") -%>
<%- include("partials/navLogOut") -%>

<div class="w-75 m-auto">
    <p class="display-4">Enregistrement</p>
    <form action="/users/create" method="post">
      
        <input type="text" name="first" id="inputFirstName" class="form-control" placeholder="First name" autofocus>
        <input type="text" name="last" id="inputLastName" class="form-control" placeholder="Last name">
        <input class="form-control" type="text" name="email" placeholder="Email Address" >
        <input class="form-control" type="password" name="password" placeholder="Password" >
        <div class="text-center"><button class="btn bg-info w-100 text-white" type="submit">S'inscrire</button></div>
        <div class="text-center py-3">OU</div>
        <div class="text-center mt-3"><a class="btn btn-info w-100" href="/">Retour à la Connexion</a></div>
    </form><br>
    <%- include("partials/message") -%>
</div>

<%- include('partials/footer') -%>